@page
@model InsuranceClaimsHandler.Pages.LossTypeViewerModel
@{
    Layout = "/Pages/Shared/_LoggedInLayout.cshtml";
}

<form method="post">

    <div class="row">
        <div class="col-2"><strong>Loss Type Id</strong></div>
        <div class="col-2"><strong>Loss Type Code</strong></div>
        <div class="col-2"><strong>Loss Type Description </strong></div>
        <div class="col-2"><strong>Loss Type Active</strong></div>

    </div>

    <div class="row">
        <div class="col-2">@Model.LossType.LossTypeId</div>
        <div class="col-2">@Model.LossType.LossTypeCode</div>
        <div class="col-2">@Model.LossType.LossTypeDesc</div>
        <div class="col-2">@Model.LossType.Active</div>
    </div>

    <br />

    <div class="row">
        <div class="col-2"><strong>Last Updated</strong></div>
        <div class="col-2"><strong>Last Updated Id</strong></div>
        <div class="col-2"><strong>Created Date</strong></div>
        <div class="col-2"><strong>Created Id</strong></div>
    </div>

    <div class="row">
        <div class="col-2">@Model.LossType.LastUpdatedDate</div>
        <div class="col-2">@Model.LossType.LastUpdatedId</div>
        <div class="col-2">@Model.LossType.CreatedDate</div>
        <div class="col-2">@Model.LossType.CreatedId</div>
    </div>

    <br />

    <div class="row">
        <div><input type="submit" asp-page-handler="GoBack" value="Back"></div>
    </div>

</form>